// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~global css variables~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// for colors adjustment: https://color.adobe.com/ru/create/color-wheel
:root {
  // colors
  --bg-color: #222;
  --input-bg-color: #444;

  --color-faded: #7f7f7f;
  --color: #eee;

  --accent-color: #ffc452; // #c0c;
  --accent-color-transparent: #ffc45250; // #cc00cc50;

  --error-color: #ff0000;

  --border-color: #7f7f7f;
  --border-color-active: #fff;

  --white-color: #fff;
  --light-grey-color: #eee;

  --page-max-width: 600px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~html tags~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
body {
  margin: 0;
  overflow-x: hidden;

  font-family: Raleway;
  font-size: 16px;

  background-color: var(--bg-color);
  color: var(--color);
  color-scheme: dark !important;

  // Fix for mobile chrome browser. It fails to update BackgroundStars on scroll, when the page height changes
  // solution: https://stackoverflow.com/questions/24944925/background-image-jumps-when-address-bar-hides-ios-android-mobile-chrome
  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 200px);
    z-index: -10;
    background-color: var(--bg-color);
  }
}

a {
  font-weight: bold;
}

a,
button {
  text-decoration: none;

  color: var(--light-grey-color);
  &:hover {
    color: var(--white-color);
  }
}

button {
  // reset all default button css but outline to make it look more like <a>
  background: none;
  //   color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  // outline: inherit;

  // apply styles
  font-weight: bold;
}

// ~~~~~~~~~scrollbars~~~~~~~~~
*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: var(--accent-color-transparent);
  border-radius: 1.5px;

  &:hover {
    background: var(--accent-color);
  }
}
*::-webkit-scrollbar-corner {
  opacity: 0;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~classes~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.button {
  margin: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;

  font-weight: bold;

  border: solid 1px transparent;
  border-radius: 0.25rem;

  text-align: center;
  cursor: pointer;
  user-select: none;

  border: 1px solid var(--border-color);
  &:not(.disabled):hover {
    border: 1px solid var(--white-color);
  }
  &.disabled {
    cursor: default;
    opacity: 0.2;
    pointer-events: none; // disable onClick and other events on disabled button
  }
}

.page-wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 20px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~fonts~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// how to specify font: https://stackoverflow.com/questions/11737168/how-to-import-fonts-in-css
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/static/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/static/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/static/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("assets/fonts/raleway/static/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
