form {
  button.button {
    margin-left: 0;
    margin-right: 0;
  }

  .param {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
    flex-wrap: wrap;

    margin: 10px 0;
  }
  label {
    line-height: 2rem;
    width: 150px;
    font-weight: bold;

    &.accent {
      color: var(--accent-color);
    }
  }
  .group-label {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.2em;
  }

  .multi-select-wrapper,
  input,
  .date-wrapper {
    flex-base: calc(100% - 150px);
    flex: 1;
    min-width: 300px;
  }
  .textarea-wrapper,
  textarea {
    width: 100%;
  }
  .hint {
    color: var(--color-faded);
    margin: 5px 0;
  }
  .multi-select-wrapper .hint {
    margin-left: 5px;
  }
  input,
  textarea {
    box-sizing: border-box;
  }
  textarea {
    position: relative;
    .symbols-used {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.8em;
      color: #999;
    }
  }
  input,
  textarea {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 6px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    &:hover {
      border-color: var(--border-color-active);
    }
  }
  input.required {
    border-color: var(--accent-color);
  }

  .date-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;

    .dp__main {
      width: 100%;
    }
    .computed {
      margin: 10px 0;
      color: var(--accent-color);
      .hidden {
        text-decoration: line-through;
        color: var(--color-faded);
      }
    }
  }
  .toggle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    .toggle-wrapper-inner {
      margin-right: 10px;
    }
  }
}
