form {
  .param {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    margin: 10px 0;
  }
  label {
    width: 150px;
    font-weight: bold;
  }
  .dynamic {
    display: flex;
    flex-direction: row;
    .value {
      width: 100px;
    }
    .toggle-container {
      margin: 0 15px;
    }
  }
  .multi-select-wrapper,
  input,
  .dp__main {
    width: calc(100% - 150px);
  }
  .textarea-wrapper,
  textarea {
    width: 100%;
  }
  .hint {
    color: var(--color-faded);
  }
  .multi-select-wrapper .hint {
    margin-left: 5px;
    margin-bottom: 2px;
  }
  input,
  textarea {
    box-sizing: border-box;
  }
  textarea {
    position: relative;
    .symbols-used {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 0.8em;
      color: #999;
    }
  }
  input,
  textarea {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 6px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    &:hover {
      border-color: var(--border-color-active);
    }
  }
}
